h1 {color: red ; font-family: Arial; text-align: center; }
h2 {color: mediumpurple ; font-family: Arial; }
h3 {color: blueviolet ; font-family: Arial; font-size:40px }
h4 {color: darkorange ; font-family: Arial; }
p {font-family: Times New Roman; }
input {background-color: YELLOW; }
fieldset {height: 400px; width: 700px}